//basket-calculate
.basket-calculate.border-round-card
	.basket-calculate__list
		.basket-calculate__item
			.basket-calculate__text Кол-во товаров: 1
			.basket-calculate__price 206 200 &#8381;


				