//SUBSCRIBE FORM
.subscribe-form-block
	.subscribe-form__title
		.h-40 Еще больше рецептов вашей мечты — в&nbsp;нашей рассылке
	
	form.subscribe-form
		.form-item
			input.form-input(type="text" name="" placeholder="Your e-mail")
		.form-button
			button.btn-white.w-100(type="submit") Прочитать статью
			.agree-block
				label.agree-block-label
					input(type="checkbox" name="")
					p Подписываясь, я принимаю #[a(href="#!" ) условия эксплуатации]
	
	.subscribe-form__img
		img.img-contain(src='./img/fish-group2.webp', srcset='./img/fish-group2@2x.webp 2x' width='470' height='224' loading='lazy' alt='img')