include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточки

				.container-dashboard__content
					+benefit-card-ui('b1', '36 часов от моря до прилавка')
					pre.
						+benefit-card-ui('b1', '36 часов от моря до прилавка')
					hr
					+step-card-ui('al1','1 шаг', 'выберете продукты и добавьте их в корзину')
					pre.
						+step-card-ui('al2','2 шаг', 'выберете продукты и добавьте их в корзину')
					hr
					+benefit-info('Забота о здоровье', 'Рыба и морепродкуты это богатый источник витаминов, минералов, питательных веществ ')
					pre.
						+benefit-info('Забота о здоровье', 'Рыба и морепродкуты это богатый источник витаминов, минералов, питательных веществ ')
					.flex
						br
						.product-card
							.product-card__img
								img.img-cover(src='../img/products/product1.webp', srcset='../img/products/product1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
							.product-card__body
								.product-card__title Мидии 40/60, неочищенные
								.product-card__price
									.price-old.fs-15 349 &#8381;
									.price-val 349 &#8381; #[span.fs-15 / 100 г.]
								
								.product-card__footer
									p.fs-10 Купили 781 раз
									
									button.cart-btn.cart-btn--animate
										svg.svg-cart
											use(href='../img/sprite.svg#svg-cart')
										svg.plus-anim(viewBox='0 0 22 22' width='22' height='22')
											line(x1='11' y1='1' x2='11' y2='11')
											line(x1='11' y1='21' x2='11' y2='11')
											line(x1='1' y1='11' x2='11' y2='11')
											line(x1='21' y1='11' x2='11' y2='11')
										
						pre.
							+product-card('product2', 'old')
						br
						+product-card('product3')
						pre.
							+product-card('product3')
						
					hr
					.basket-status
						//карточка, когда корзина пустая
						.basket-status-empty.flex-col
							.basket-status__icon
								svg.svg-fish
									use(href='../img/fish.svg#svg-fish')
							.basket-status__txt.txt-center
								p В корзине пока пусто
							.benefits-info.flex-col
								+benefit-info('Забота о здоровье', 'Рыба и морепродкуты это богатый источник витаминов, минералов, питательных веществ')
								+benefit-info('Самые свежие продуткы', 'Продукция от проверенных поставщиков поступает в наши точки каждый день')
								+benefit-info('Привилегии для постоянных покупателей', 'Кэшбэк до 10%, оплата заказа бонусами до 20%, специальные предложения для участников программы лояльности')
							
							.basket-status__footer 
								p В корзине пока пусто
						
						//карточка, когда в корзину закигули товар
						.cart-short
							.cart-short__header.flex-center-y
								.fs-24 Корзина
								button.cart-clean Очистить
							
							//content
							.cart-short__content
								//- .cart-item
								//- 	.cart-item__img
								//- 		img(src='./img/product1.webp', srcset='./img/product1@2x.webp 2x' width='83' height='83' alt='img')
								//- 	.cart-item__title
								//- 		p Мидии 40/60, неочищенные
								//- 	.cart-item__group
								//- 		.cart-item__counter
								//- 			+counter
								//- 		.cart-item__cost
								//- 			.price-box 5 999 р
												
							
							
							.cart-short__total
							.cart-short__btns

					hr
					+counter('200 ₽/кг')
					pre.
						+counter

					hr
					.basket-card
						.basket-card__img
							img.img-cover(src='../img/products/product1.webp', srcset='../img/products/product1@2x.webp 2x' width='83' height='83' alt='img')
						
						.basket-card__group
							.basket-card__title
								.product-name Мидии 40/60, неочищенные
								.product-info Охлажденные
						
						
							.basket-card__counter
								+counter('200 ₽/кг')
							
							.basket-card__cost
								.cost-block
									span.cost-block__new 100 999 р
									span.cost-block__old 100 999 р
							
						.basket-card__btn
							button.remove-button
								svg.svg-delete
									use(href='../img/sprite.svg#svg-delete')
					
					

		script.
			document.addEventListener("DOMContentLoaded", function () {
				let counters = document.querySelectorAll('.counter');

				counters.forEach((counter) => {
					const minusButton = counter.querySelector('.counter-minus');
					const plusButton = counter.querySelector('.counter-plus');
					const counterValue = counter.querySelector('.counter-value'); // <input type="number">

					// Обновляет кнопку "-" в зависимости от текущего значения
					const updateMinusButtonState = (value) => {
						if (value <= 0) {
							minusButton.setAttribute('disabled', 'disabled');
						} else {
							minusButton.removeAttribute('disabled');
						}
					};

					// Слушаем клик на кнопку "-"
					minusButton.addEventListener('click', () => {
						let currentValue = parseInt(counterValue.value, 10) || 0;
						if (currentValue > 0) {
							currentValue -= 1;
							counterValue.value = currentValue;
							updateMinusButtonState(currentValue);
						}
					});

					// Слушаем клик на кнопку "+"
					plusButton.addEventListener('click', () => {
						let currentValue = parseInt(counterValue.value, 10) || 0;
						currentValue += 1;
						counterValue.value = currentValue;
						updateMinusButtonState(currentValue);
					});

					// Обработка ручного ввода
					counterValue.addEventListener('input', () => {
						let value = parseInt(counterValue.value, 10);
						if (isNaN(value) || value < 0) {
							counterValue.value = 0;
							value = 0;
						}
						updateMinusButtonState(value);
					});
				});
			})