include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточки

				.container-dashboard__content
					.stores-contacts-grid
						//LEFT  COLUMN
						.contacts-content.flex-col
							// ya gis
							.geo-app.flex
								.geo-app__item
									img(src='../img/geo-ya.webp', srcset='../img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
								.geo-app__item
									img(src='../img/geo-gis.webp', srcset='../img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
							
							//address-card
							.address-card
								address г. Сочи ул. Пипяево
								a(href="tel:+79129786654").contact-link
									span +7 912 978 66 54
								.work-mode
									.fs-21 Режим работы:
									.fs-19.flex
										span с 10:00 до 20:00 
										span без выходных
							
							.contacts-content__links
								a(href="tel:+79129786654").contact-link
									svg.svg-phone
										use(href='../img/sprite.svg#svg-phone')
									span +7 912 978 66 54
								
								a(href="mailto:panarina.1tv@yandex.ru").contact-link
									svg.svg-email
										use(href='../img/sprite.svg#svg-email')
									span panarina.1tv@yandex.ru
							
							//social
							+social-ui
						
						//RIGHT COLUMN
						.contacts-map-content
							.map-wrapper
								img(src='../img/map.webp', srcset='../img/map@2x.webp 2x' width='1027' height='601' loading='lazy' alt='img')
							
							//stores
							.our-stores.scroll-x.flex
								.store-item
									img.img-cover(src='../img/store1.webp', srcset='../img/store1@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
								.store-item
									img.img-cover(src='../img/store2.webp', srcset='../img/store2@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
								.store-item
									img.img-cover(src='../img/store3.webp', srcset='../img/store3@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')

