include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					.form-item
						input.form-input(type="text" placeholder="Имя*" name="")
					pre.
						.form-item
							input.form-input(type="text" placeholder="Имя*" name="")
					
					.form-item
						textarea.form-textarea(name="message" placeholder="Комментарий")
					pre.
						.form-item
							input.form-textarea(name="message" placeholder="Комментарий")

					.form-item.w-50
							input.form-input(type="text" placeholder="Имя*" name="")
					pre.
						.form-item
							input.form-input(type="text" placeholder="Имя*" name="")
					
					.form-button.flex-center-y
						button.btn-dark(type="submit") Оформить заказ
						.agree-block
							p Нажимая на кнопку, вы даете согласие на обработку персональных данных
					
					pre.
						.form-button.flex-center-y
							button.btn-dark(type="submit") Оформить заказ
							.agree-block
								p Нажимая на кнопку, вы даете согласие на обработку персональных данных
					
					hr
					.form-item.form-select
						.dropdown
							button.dropdown__button(type="button") Вакансия
							
							.dropdown__list
								ul
									li.dropdown__list-item(data-value="Текст1") Текст 1
									li.dropdown__list-item(data-value="Текст2") Текст 2
									li.dropdown__list-item(data-value="Текст3") Текст 3
									li.dropdown__list-item(data-value="Текст4") Текст 4
							
							//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
							input.dropdown__input-hidden(type="hidden", name="")
					hr
					label.checkbox-label
						input.checkbox-input(type="checkbox" name="check1")
						span Спецпредложения

					hr
					.dropdown
						button.dropdown__button(type="button") График работы
						
						.dropdown__list
							ul
								li.dropdown__list-item(data-value="Текст1") Текст 1
								li.dropdown__list-item(data-value="Текст2") Текст 2
								li.dropdown__list-item(data-value="Текст3") Текст 3
								li.dropdown__list-item(data-value="Текст4") Текст 4

						//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
						input.dropdown__input-hidden(type="hidden", name="")
					script.
						document.querySelectorAll('.dropdown').forEach(function (dropDownWrapper) {
							const dropDownBtn = dropDownWrapper.querySelector('.dropdown__button');
							const dropDownList = dropDownWrapper.querySelector('.dropdown__list');
							const dropDownListItems = dropDownList.querySelectorAll('.dropdown__list-item');
							const dropDownInput = dropDownWrapper.querySelector('.dropdown__input-hidden');

							// Клик по кнопке. Открыть/Закрыть select
							dropDownBtn.addEventListener('click', function (e) {
							dropDownList.classList.toggle('dropdown__list--visible');
							this.classList.toggle('dropdown__button--active');
							});
							

							// Выбор элемента списка. Запомнить выбранное значение. Закрыть дропдаун
							dropDownListItems.forEach(function (listItem) {
							
							listItem.addEventListener('click', function (e) {
								e.stopPropagation();
								dropDownBtn.innerText = this.innerText;
								dropDownBtn.focus();
								dropDownInput.value = this.dataset.value;
								
								dropDownList.classList.remove('dropdown__list--visible');
								dropDownBtn.classList.remove('dropdown__button--active');
								
							});
							});

							// Клик снаружи дропдауна. Закрыть дропдаун
							document.addEventListener('click', function (e) {
							if (e.target !== dropDownBtn) {
								dropDownBtn.classList.remove('dropdown__button--active');
								dropDownList.classList.remove('dropdown__list--visible');
							}
							});

							// Нажатие на Tab или Escape. Закрыть дропдаун
							document.addEventListener('keydown', function (e) {
							if (e.key === 'Tab' || e.key === 'Escape') {
								dropDownBtn.classList.remove('dropdown__button--active');
								dropDownList.classList.remove('dropdown__list--visible');
							}
							});
						});

