include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 иконки
				.container-dashboard__content
					svg.svg-cart
						use(href='../img/sprite.svg#svg-cart')
					br

					svg.svg-arrLeft
						use(href='../img/sprite.svg#svg-arrLeft')
					pre.
						svg.svg-arrLeft
							use(href='../img/sprite.svg#svg-arrLeft')
					br
					svg.svg-arrRight
						use(href='../img/sprite.svg#svg-arrRight')
					pre.
						svg.svg-arrRight
							use(href='../img/sprite.svg#svg-arrRight')
					br
					svg.svg-menu
						use(href='../img/sprite.svg#svg-menu')
					pre.
						svg.svg-menu
							use(href='../img/sprite.svg#svg-menu')

					
					br
					svg.svg-star
						use(href='../img/sprite.svg#svg-star')
					pre.
						svg.svg-star
							use(href='../img/sprite.svg#svg-star')

					br
					
					svg.svg-phone
						use(href='../img/sprite.svg#svg-phone')
					br
					svg.svg-pin
						use(href='../img/sprite.svg#svg-pin')
					pre.
						svg.svg-pin
							use(href='../img/sprite.svg#svg-pin')
					br
					svg.svg-carret
						use(href='../img/sprite.svg#svg-caret')
					pre.
						svg.svg-carret
							use(href='../img/sprite.svg#svg-caret')
					br
					svg.svg-plus
						use(href="../img/sprite.svg#svg-plus")
					pre.
						svg.svg-plus
							use(href="../img/sprite.svg#svg-plus")
					br
					pre.
						svg.svg-plus
							use(href="../img/sprite.svg#svg-plus")
					br
					svg.svg-minus
						use(href="../img/sprite.svg#svg-minus")
					pre.
						svg.svg-minus
							use(href="../img/sprite.svg#svg-minus")
					
					.disable-element
						svg.svg-minus
							use(href="../img/sprite.svg#svg-minus")
					br
					pre.
						.disable-element
							svg.svg-minus
								use(href="../img/sprite.svg#svg-minus")
					br
					svg.svg-cross
						use(href="../img/sprite.svg#svg-cross")
					pre.
						svg.svg-cross
							use(href="../img/sprite.svg#svg-cross")
					br
					svg.svg-delete
						use(href="../img/sprite.svg#svg-delete")
					pre.
						svg.svg-delete
							use(href="../img/sprite.svg#svg-delete")

					br
					span.icon-search
					pre.
						span.icon-search
					br
					svg.svg-category1
						use(href='../img/sprite.svg#category1')
						
					pre.
						svg.svg-category1
							use(href='../img/sprite.svg#category1')
					br
					svg.svg-category2
						use(href='../img/sprite.svg#category2')
						
					pre.
						svg.svg-category2
							use(href='../img/sprite.svg#category2')
					br
					svg.svg-category3
						use(href='../img/sprite.svg#category3')
						
					pre.
						svg.svg-category4
							use(href='../img/sprite.svg#category4')
					br
					svg.svg-category5
						use(href='../img/sprite.svg#category5')
					pre.
						svg.svg-category5
							use(href='../img/sprite.svg#category5')
					br
					svg.svg-category6
							use(href='../img/sprite.svg#category6')
					pre.
						svg.svg-category6
							use(href='../img/sprite.svg#category6')
					
