.blog-swiper{
	height: remy(660);
	padding-bottom: remy(95);
	// width: remy(1136);
	.swiper-slide{width:fit-content!important;}
}
.blog-card{
	overflow: hidden;
	position: relative;
	&__img{
		position: relative;
		&:after{
			content:'';
			position: absolute;
			inset:0;
			background: linear-gradient(to bottom, rgba(0,0,0, .7) 10%, rgba(0,0,0, 0) 100%);
			z-index: 2;
		}
	}
	img{
		border-radius: remy(8);
		height: remy(562);
		width: auto;
	}
	&__text{
		position: absolute;
		inset:0;
		z-index: 3;
		color: #f7f7f5;
		font-weight: 700;
		padding: remy(30);
		text-transform: uppercase;
		display: flex;
		flex-direction: column;

		.blog-title{
			font-size: remy(20);
			letter-spacing: -0.02em;
			
			// color: #f7f7f5;
		}
		.blog-tag{
			font-weight: 500;
			font-size: remy(10);
			line-height: 152%;
			letter-spacing: -0.03em;
			margin-bottom: remy(2);
			
		}
		.blog-data{
			font-weight: 900;
			font-size: remy(14);
			line-height: 114%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #fff;
			margin-top: auto;
		}
	}
}