.address-card{
	font-size: remy(10);
	font-family: var(--font-family);
	font-weight: 400;
	border-radius: 1.8em;
	padding: 1.2em;
	padding-bottom: 2em;
	background: var(--goluboy);
	min-height: remy(160);
	address{
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 2.1em;
		line-height: 1.22;
		letter-spacing: 0.03em;
		margin-bottom: 3px;
		
	}

	.work-mode{
		font-size: 1em;
		margin-top: 1.4em;
		.fs-21{
			font-weight: 700;
			font-size: 2.1em;
			line-height: 1.22;
			letter-spacing: 0.03em;
			color: var(--color-smuglyy-yarkiy);
			margin-bottom: .5em;
		}
		.fs-19{
			font-weight: 400;
			font-size: 1.9em;
			line-height: 1.25;
			letter-spacing: -0.02em;
			column-gap: .5em;
		}
	}
}
.geo-app{
	column-gap: remy(20);
	margin-bottom:remy(40);
}
.contacts-content.flex-col, .store-address-block.flex-col{
	font-size: remy(10);
	row-gap: 4em;
	@media (max-width: 767px) {
		row-gap: 36px;
	}
}
.contact-link{
	font-weight: 400;
	font-size: remy(17);
	color: var(--color-chernyy);
	margin-bottom: 5px;
}
.stores-contacts-grid{
	display: flex;
	font-size: remy(10);
	column-gap: 3em;
	justify-content: space-between;
    @media (max-width: 767px) {
	  flex-direction: column;
	  row-gap:remy(60);
	}
}
.contacts-content{
	width: 100%;
	max-width: 36.5em;
	flex-shrink: 0;
}
.contacts-map-content{
	flex-grow: 1;
	max-width: 102.7em;
	&>*+*{
		margin-top: 3em;
	}
}
.main-page{
	.stores-contacts .contacts-map-content{
		max-width: remy(621);
		display: flex;
		img.map-image{
			object-fit: cover;
			object-position: left;
			height: 100%;
		}
	}
}.show-store-card{
	width: remy(60);
	height: remy(80);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	@media (max-width: 767px) {
	 width: 50px;
	 height: 50px;
	}
}
.stores-contacts  .map-wrapper{
	width: remy(622);
	@media (max-width: 767px) {
	  width: 100%;
	}
}
.contacts-page .map-wrapper{
	width: remy(1025);
	@media (max-width: 767px) {
	  width: 100%;
	}
}
.contacts-page .map-wrapper{
	[data-store="1"]{
		top: 5%;
    	left: 68%;
		@media (max-width: 767px) {
		 left: 91%;
		}
	}
	[data-store="2"]{
		top: 13%;
    	left: 58%;
		@media (max-width: 767px) {
		 left: 55%;
		}
	}
	[data-store="3"]{
		top: 29%;
   		 left: 50%;
		@media (max-width: 767px) {
		 left: 42%;
		}
	}
	[data-store="4"]{
		top: 67%;
        left: 20%;
		@media (max-width: 767px) {
		 left: 11%;
		 
		}
	}
	.img-cover{
		object-position: left;
	}
	
}
.map-wrapper{
	position: relative;
	height: remy(611);
	overflow: hidden;
	
	[data-store="1"]{
		top: 14%;
        left: 85%;
		@media (max-width: 767px) {
		 left: 80%;
		}
	}
	[data-store="2"]{
		top: 23%;
        left: 69%;
		@media (max-width: 767px) {
		 left: 64%;
		}
	}
	[data-store="3"]{
		top: 39%;
		left: 56%;
		@media (max-width: 767px) {
		 left: 50%;
		}
	}
	[data-store="4"]{
		top: 78%;
		left: 7%;
		@media (max-width: 767px) {
		 left: 2%;
		}
	}
	@media (max-width: 767px) {
	   height: auto;
	   width: 100%;
	  aspect-ratio: 344/320;
	  img.img-cover{object-position: remy(-50)}
	}
}
.show-store-card.active .svg-pin{opacity: .5;}
.store-address-block{
	display: none;
	&.active{
		display: flex;
	}
}
// .map-zoom-btns{
// 	position: absolute;
// 	bottom: remy(32);right: remy(32); z-index: 2;
// 	column-gap:remy(12);
// }
// .map-zoom-plus, .map-zoom-minus{
// 	width: remy(44);
// 	height: remy(44);
// 	border-radius: 50%;
// 	background-color: var(--svetlo-siniy);
// 	svg{
// 		width: remy(18);
// 		height: remy(18);
// 		color: white;
// 	}
// }
// .map-image{
// 	transition: .3s;
// 	&.map-scale{transform: scale(1.2);}
// }