.delivery-page{
	.header-group{
		border-bottom: 1px solid var(--goluboy);
		padding-bottom: remy(32);
	}
	@media (max-width: 767px) {
		.grid-two-columns{row-gap:60px;}
		.grid-two-columns{
			flex-direction: column-reverse;
		}
		.header-group{
			border-bottom: 0;
		}
	}
}
.payments{
	row-gap:remy(24);
	width: 100%;
	@media (max-width: 767px) {
		row-gap:16px;
	}
}
.payment-card{
	width: 100%;
	padding: remy(9) remy(14) remy(9) remy(20);
	background-color: #fff;
	border: 1px solid var(--goluboy);
	border-radius: remy(15);
	justify-content: space-between;
	align-items: center;
	column-gap:remy(24);
	.payment-icon{
		flex-shrink: 0;
	}
}