
footer.footer{
	
	background-color: var(--temno-siniy);
	border-radius: 15px 15px 0 0;
	
}
footer.footer{
	padding-top: remy(55);
	padding-bottom: remy(55);
	background: var(--color-smuglyy);
	border-radius: remy(15) remy(15) 0 0;
	background-image: url('../img/footer-bg.webp');
	background-size: cover;
	background-position: bottom 10%;
	background-repeat: no-repeat;

	.container{
		max-width: reny(1480);
	}
	.footer-grid{
		display: grid;
		grid-template-columns: remy(346) 1fr;
		column-gap: remy(83);
	}
	.footer-logo{
		width: remy(346);
		flex-shrink: 0;
	}
	.logo{
		display: block;
	}
}
.footer-subscribe-wrapper{
	display: flex;
	.h-40{
		max-width: remy(396);
		font-family: var(--second-family);
		
		line-height: 1;
		letter-spacing: -0.01em;
		color: var(--color-belyy);
	}
	.footer-subscribe-form{
		flex:1;
	}
	.footer-subscribe-form .form-input{
		width: 100%;
		display: block;
	}
}
.footer-menu{
	column-count: auto;
	column-width:remy(110);
	column-gap: remy(90);
	width: remy(321);
}
.footer-menu-link{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: remy(20);
	letter-spacing: -0.02em;
	color: var(--color-tekst-seryy);
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: fit-content;
	transition: .3s; 
	&:hover{color:  #a4a6a9;}
}
.footer-contacts__mess{
	display: flex;
	align-items: center;
	column-gap:remy(35);
	margin-bottom: remy(16);
}
.footer-contacts{
	.text-link{
		font-family: var(--font-family);
		font-weight: 400;
		font-size: remy(20);
		letter-spacing: -0.02em;
		text-transform: capitalize;
		color: var(--color-tekst-seryy);
		transition: .3s; 
		&:hover{
			color:  #a4a6a9;
		}
	}
}
.footer-row{
	justify-content: space-between;
}
.footer-contacts__list{
	display: grid;
	grid-template-columns: 1fr;
	row-gap:remy(10);

}
.footer-contacts__list a{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: remy(20);
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: var(--color-tekst-seryy);
	&:hover{color:  #a4a6a9;}
}
.footer-bottom{
	justify-content: space-between;
	&>*{
		font-family: var(--font-family);
		font-weight: 400;
		font-size: remy(14);
		line-height: 129%;
		letter-spacing: -0.03em;
		color: rgba(214, 214, 214, .8);
		margin-top: remy(64);
	}
}
.bank-details{
	display: flex;
	column-gap: remy(10);
	li+li{
		position: relative;
		&:before{
			content: '/';
			margin-right: 10px;

		}
	}
}
.footer-politic{
	font-size: remy(14);
	line-height: 129%;
	letter-spacing: -0.03em;
	color: rgba(164, 166, 169, .8);
	margin-top: remy(24);
}