.info-tag{
	border: 1px solid var(--goluboy);
	border-radius: remy(8);
	padding: remy(12) remy(16) remy(12) remy(20);
	display: inline-flex;
	height: remy(44);
	justify-content: center;
	align-items: center;
	background: var(--color-belyy);
	padding-inline: remy(20);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: remy(16);
	letter-spacing: -0.02em;
	color: var(--temno-siniy);
}
.info-tag.info-tag--accent{
	color: var(--color-belyy);
	background: var(--svetlo-siniy);
}