//О НАС
section.aboutus-section
	.aboutus-content.flex
		.aboutus-content__txt.flex-col
			h2.h2 О нас
			.aboutus-deskrip
				p У рыболовов Краснодарского края рекордный улов камбалы – почти сто тонн  в этом сезоне. Сейчас он подходит к концу. Но дальше работы будет не меньше: приходит время другой рыбы.
				p #[strong Евгений Целовальников] – рыбак опытный, в море выходит на рассвете. Премудростям профессии еще в детстве его научил отец. За камбалой обычно отплывать от берега нужно километров на 10, не меньше. 
			a(href="#!").btn-outline.hide-sm Читать больше
		
		
		.aboutus-content__img
			img.ing-cover(src='./img/about.webp', srcset='./img/about@2x.webp 2x' width='621' height='517' loading='lazy' alt='img')
		
			a(href="#!").btn-outline.visible-sm Читать больше