//ALGORITM
section.alroritm-steps
	h2.h2 Алгоритм заказа
	.alroritm-steps-content
		+step-card('al1','1 шаг', 'выберете продукты и добавьте их в корзину')
		+step-card('al2','2 шаг', 'оформите заказ: укажите контакты и адрес доставки')
		+step-card('al3','3 шаг', 'подтвердите заказ')
		+step-card('al4','4 шаг', 'оплатите заказ')
		+step-card('al5','5 шаг', 'ожидайте доставку')