//assortiment
section.assortiment
	h2.h2 Ассортимент
	.assortiment-grid
		a(href="#!").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Икра
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Крабы
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Креветки
			.fs-16.flex-center-y
				span черная
				span красная
		
		a(href="#!").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Море&shy;продукты
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Подарочные наборы
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Упаковка
			.fs-16.flex-center-y
				span черная
				span красная