//assortiment
section.assortiment
	h2.h2 Ассортимент
	.assortiment-grid
		a(href="#!" style="background-image: url(./img/assort1-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort1.webp', srcset='./img/assort1@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Икра
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort2-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort2.webp', srcset='./img/assort2@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Крабы
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort3-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort13.webp', srcset='./img/assort3@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Креветки
			.fs-16.flex-center-y
				span черная
				span красная
		
		a(href="#!" style="background-image: url(./img/assort4-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort4.webp', srcset='./img/assort4@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Море&shy;продукты
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort5-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort5.webp', srcset='./img/assort5@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Рыбы
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort6-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort6.webp', srcset='./img/assort6@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Авторская рыба
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort7-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort7.webp', srcset='./img/assort7@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Полу&shy;фабрикаты
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort8-bg.webp)").assortiment-card
			.assortiment-card__img
				img(src='./img/assort8.webp', srcset='./img/assort8@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Подарочные наборы
			.fs-16.flex-center-y
				span черная
				span красная
		a(href="#!" style="background-image: url(./img/assort9-bg.webp)").assortiment-card
			//- .assortiment-card__img
			//- 	img(src='./img/assort9.webp', srcset='./img/assort9@2x.webp 2x' width='' height='' loading='lazy' alt='img')
			.fs-30 Упаковка
			.fs-16.flex-center-y
				span черная
				span красная