section.basket-content
	.header-group
		h1.h2 Корзина
		button.cart-clean Очистить
	.basket-content-table
		//single item
		.basket-card
			.basket-card__img
				img.img-cover(src='../img/products/product1.webp', srcset='../img/products/product1@2x.webp 2x' width='83' height='83' alt='img')
			
			.basket-card__group
				.basket-card__title
					.product-name Мидии 40/60, неочищенные
					.product-info Охлажденные
			
			
				.basket-card__counter
					+counter('200 ₽/кг')
				
				.basket-card__cost
					.cost-block
						span.cost-block__new 100 999 р
						span.cost-block__old 100 999 р
				
				.basket-card__btn
					button.remove-button
						svg.svg-delete
							use(href='../img/sprite.svg#svg-delete')
		//single item
		.basket-card
			.basket-card__img
				img.img-cover(src='../img/products/product1.webp', srcset='../img/products/product1@2x.webp 2x' width='83' height='83' alt='img')
			
			.basket-card__group
				.basket-card__title
					.product-name Мидии 40/60, неочищенные
					.product-info Охлажденные
			
			
				.basket-card__counter
					+counter('200 ₽/кг')
				
				.basket-card__cost
					.cost-block
						span.cost-block__new 100 999 р
						span.cost-block__old 100 999 р
				
				.basket-card__btn
					button.remove-button
						svg.svg-delete
							use(href='../img/sprite.svg#svg-delete')
		//single item
		.basket-card
			.basket-card__img
				img.img-cover(src='../img/products/product1.webp', srcset='../img/products/product1@2x.webp 2x' width='83' height='83' alt='img')
			
			.basket-card__group
				.basket-card__title
					.product-name Мидии 40/60, неочищенные
					.product-info Охлажденные
			
			
				.basket-card__counter
					+counter('200 ₽/кг')
				
				.basket-card__cost
					.cost-block
						span.cost-block__new 100 999 р
						span.cost-block__old 100 999 р
				
				.basket-card__btn
					button.remove-button
						svg.svg-delete
							use(href='../img/sprite.svg#svg-delete')