//DOCS
section.docs
	.container
		h2.h2 Документы
		.docs-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
				
				.swiper-slide
					.docs-item
						img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
			
			//SWIPER NAV
			.swiper__nav
				.docs-swiper-prev.swiper-button-prev
					svg.svg-arrLeft
						use(href='../img/sprite.svg#svg-arrLeft')
				.docs-swiper-next.swiper-button-next
					svg.svg-arrRight
						use(href='../img/sprite.svg#svg-arrRight')
