section.faq
	h2.h2 Вопрос/ ответ
	.faq-acordion.acordion
		//=======single item =====
		.acordion-group
			.acordion-header 
				.acordion-title Как скоро перезвонит менеджер?
				span.acordion-icon
			
			.acordion-body
				.acordion-body__content
					p Мы понимаем, что свежесть и качество рыбы — это ключевые факторы для наших клиентов. Принимаем все необходимые меры, чтобы гарантировать, что ваша рыба будет доставлена в идеальном состоянии: используем специальные термоизолирующие упаковки и ледяные гели, стремимся минимизировать время доставки, перед отправкой мы тщательно проверяем каждый продукт на свежесть и качество. Мы работаем только с надежными поставщиками и местными рыбаками.
		//=======single item =====
		.acordion-group
			.acordion-header 
				.acordion-title Как скоро перезвонит менеджер?
				span.acordion-icon
			
			.acordion-body
				.acordion-body__content
					p Мы понимаем, что свежесть и качество рыбы — это ключевые факторы для наших клиентов. Принимаем все необходимые меры, чтобы гарантировать, что ваша рыба будет доставлена в идеальном состоянии: используем специальные термоизолирующие упаковки и ледяные гели, стремимся минимизировать время доставки, перед отправкой мы тщательно проверяем каждый продукт на свежесть и качество. Мы работаем только с надежными поставщиками и местными рыбаками.
		//=======single item =====
		.acordion-group
			.acordion-header 
				.acordion-title Как скоро перезвонит менеджер?
				span.acordion-icon
			
			.acordion-body
				.acordion-body__content
					p Мы понимаем, что свежесть и качество рыбы — это ключевые факторы для наших клиентов. Принимаем все необходимые меры, чтобы гарантировать, что ваша рыба будет доставлена в идеальном состоянии: используем специальные термоизолирующие упаковки и ледяные гели, стремимся минимизировать время доставки, перед отправкой мы тщательно проверяем каждый продукт на свежесть и качество. Мы работаем только с надежными поставщиками и местными рыбаками.