footer.footer
	.container
		.footer-grid
			.footer-logo
				a.logo(href="index.html")
					svg.svg-logo
						use(href='./img/logo.svg#svg-logo')
			
			.footer-row
				.footer-subscribe-wrapper
					.h-40 Узнай о акциях первым
					form.footer-subscribe-form(action="" method="method")
						.form-item
							input.form-input(type="email" name="subscribe_email" placeholder="Электронная почта")
							button.button-blue(type="submit") Отправить
