footer.footer
	.container
		.footer-grid
			.footer-logo
				a.logo(href="index.html")
					svg.svg-logo
						use(href='./img/logo.svg#svg-logo')
			
			.footer-column
				.footer-subscribe-wrapper
					.h-40 Узнай о акциях первым
					form.footer-subscribe-form(action="" method="method")
						.form-item
							input.form-input(type="email" name="subscribe_email" placeholder="Электронная почта")
							button.button-blue(type="submit") Отправить
				
				.footer-row.flex
					ul.footer-menu
						li.footer-menu-item
							a(href="").footer-menu-link Главная
						li.footer-menu-item
							a(href="").footer-menu-link Каталог
						li.footer-menu-item
							a(href="").footer-menu-link О нас
						li.footer-menu-item
							a(href="").footer-menu-link Магазины
						li.footer-menu-item
							a(href="").footer-menu-link Покупателям
						li.footer-menu-item
							a(href="").footer-menu-link Блог/Рецепты
						li.footer-menu-item
							a(href="").footer-menu-link Акции
						li.footer-menu-item
							a(href="").footer-menu-link Контакты

					.footer-contacts
						.footer-contacts__mess
							a(href="" target="_blank").text-link в  whatsapp
							a(href=""  target="_blank").text-link в telegram
						.footer-contacts__list
							a(href="mailto:info@fish.ru"  target="_blank").text-link info@fish.ru
							a(href="tel:+79184051058"  target="_blank").contact-link
								svg.svg-phone
									use(href='./img/sprite.svg#svg-phone')
								span +7 (918) 405-10-58
							
							a(href=""  target="_blank").contact-link
								img(src="./img/social/wa.webp",loading="lazy" width="21" height="22" alt="") 
								span +7 (918) 405-10-58
						

		.footer-bottom.flex
			.footer-copyright © 2019–2025 153Рыбы
			ul.bank-details
				li ИП Панарина Татьяна Валерьевна 
				li ИНН 231126207627
				li ОГРНИП 324237500435312
			
			.design-company Design by SAVOV
		
		.footer-politic.txt-center
			p Использование материалов с данного сайта разрешено только по согласию с владельцем. Владелец оставляет за собой право воспользоваться 146 статьей УК РФ при нарушении авторских и смежных прав. Вся предоставленная на сайте информация ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса РФ.