footer.footer
	.container
		.footer-grid
			.footer-logo
				a.logo(href="index.html")
					svg.svg-logo
						use(href='./img/logo.svg#svg-logo')
			
			.footer-column
				.footer-subscribe-wrapper
					.h-40 Узнай о акциях первым
					form.footer-subscribe-form(action="" method="method")
						.form-item
							input.form-input(type="email" name="subscribe_email" placeholder="Электронная почта")
							button.button-blue(type="submit") Отправить
				
				.footer-row
					ul.footer-menu
						li.footer-menu-item
							a(href="").footer-menu-link Главная
						li.footer-menu-item
							a(href="").footer-menu-link Каталог
						li.footer-menu-item
							a(href="").footer-menu-link О нас
						li.footer-menu-item
							a(href="").footer-menu-link Магазины
						li.footer-menu-item
							a(href="").footer-menu-link Покупателям
						li.footer-menu-item
							a(href="").footer-menu-link Блог/Рецепты
						li.footer-menu-item
							a(href="").footer-menu-link Акции
						li.footer-menu-item
							a(href="").footer-menu-link Контакты



