//OUR STORIES
section.stores-contacts
	.stores-contacts-grid
		//RIGHT COLUMN
		.contacts-content.flex-col
			h2.h2 Наши магазины
			// ya gis
			.geo-app.flex
				a(href="#!").geo-app__item
					img(src='../img/geo-ya.webp', srcset='../img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
				a(href="#!").geo-app__item
					img(src='../img/geo-gis.webp', srcset='../img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
			
			//address-card
			.address-card
				address г. Сочи, ул. Яна Фабрициуса, 58/2, павильоны 96, 97, 98
				
				.work-mode
					.fs-21 Режим работы:
					.fs-19.flex
						span с 10:00 до 20:00 
						span без выходных
			
			.contacts-content__links
				a(href="tel:+79129786654").contact-link
					svg.svg-phone
						use(href='../img/sprite.svg#svg-phone')
					span +7 912 978 66 54
				
				a(href="mailto:info@decona.ru").contact-link
					svg.svg-email
						use(href='../img/sprite.svg#svg-email')
					span info@decona.ru
			
			//social
			+social
		
		//LEFT COLUMN
		.contacts-map-content
			.map-wrapper
				img(src='../img/map.webp', srcset='../img/map@2x.webp 2x' width='1027' height='601' loading='lazy' alt='img')