//BENEFITS
section.promo-benefits
	.promo-benefits-content
		+benefit-card-ui('b1', '36 часов от моря до&nbsp;прилавка')
		+benefit-card-ui('b2', 'поставки от  Дальнего Востока, до&nbsp;Сочи')
		+benefit-card-ui('b3', 'вся продукция сертифицирована')
		+benefit-card-ui('b5', 'доставка заказа за&nbsp;30&nbsp;минут')
		+benefit-card-ui('b4', 'соотношение цены и&nbsp;качества сервиса')