//REVIEWS
sections.reviews
	.container
		h2.h2 Отзывы
		.reviews-wrapper.scroll-x
			//card
			.review-card
				.review-card__img
					img(src='./img/reviews/review.webp', srcset='./img/reviews/review@2x.webp 2x' width='60' height='60' loading='lazy' alt='img')
				.review-card__block
					.fs-20 Только из моря
					p Свежесть продукции не оставляет сомнений. Все настолько свежее, еще 5 минут назад плавало в море.
					.review-card__rating
						img(src='./img/reviews/rating.webp', srcset='./img/reviews/rating@2x.webp 2x' width='185' height='32' loading='lazy' alt='img')

			//card
			.review-card
				.review-card__img
					img(src='./img/reviews/review2.webp', srcset='./img/reviews/review2@2x.webp 2x' width='60' height='60' loading='lazy' alt='img')
				.review-card__block
					.fs-20 Забота о здоровье
					p Рыба и морепродкуты это богатый источник витаминов, минералов, питательных веществ 
					.review-card__rating
						img(src='./img/reviews/rating.webp', srcset='./img/reviews/rating@2x.webp 2x' width='185' height='32' loading='lazy' alt='img')

			//card
			.review-card
				.review-card__img
					img(src='./img/reviews/review.webp', srcset='./img/reviews/review@2x.webp 2x' width='60' height='60' loading='lazy' alt='img')
				.review-card__block
					.fs-20 Только из моря
					p Свежесть продукции не оставляет сомнений. Все настолько свежее, еще 5 минут назад плавало в море.
					.review-card__rating
						img(src='./img/reviews/rating.webp', srcset='./img/reviews/rating@2x.webp 2x' width='185' height='32' loading='lazy' alt='img')

			//card
			.review-card
				.review-card__img
					img(src='./img/reviews/review.webp', srcset='./img/reviews/review@2x.webp 2x' width='60' height='60' loading='lazy' alt='img')
				.review-card__block
					.fs-20 Только из моря
					p Свежесть продукции не оставляет сомнений. Все настолько свежее, еще 5 минут назад плавало в море.
					.review-card__rating
						img(src='./img/reviews/rating.webp', srcset='./img/reviews/rating@2x.webp 2x' width='185' height='32' loading='lazy' alt='img')

		.review-link-wrapper
			a.round-arrow-link(href="#!")
				span Смотреть еще отзывы
				span.round-arrow
					svg.svg-arrRight
						use(href='../img/sprite.svg#svg-arrRight')