section.product-desckription
	.product-gallery
		.product-gallery-swiper
			
			//большая картинка
			.swiper.mySwiperFotorama
				.swiper-wrapper
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
			
			//маленькие превьюшки
			.swiper.mySwiperThumb(thumbsslider)
				.swiper-wrapper
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
		
		//RIGHT INFO
		.product-gallery-info
			.product-gallery__title
				.label-gray-group.flex-center-y
					.label-gray
						img(src='./img/lab1.webp', srcset='./img/lab1@2x.webp 2x' width='20' height='20'  alt='img')
						span Охлажденное
					.label-gray
						img(src='./img/lab2.webp', srcset='./img/lab2@2x.webp 2x' width='20' height='20'  alt='img')
						span Замороженное
			
				h1.h-40 Краб-стригун, конечности #[span.txt-grey 400 Г]
			
			.product-gallery__nutritional
			.product-gallery__text
			.product-gallery__price
