section.product-desckription
	.product-gallery
		.product-gallery-swiper
			
			//большая картинка
			.swiper.mySwiperFotorama
				.swiper-wrapper
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1.webp' srcset='./img/blog/gallery1@2x.webp 2x' width="493" height="493" alt="img")
			
			//маленькие превьюшки
			.swiper.mySwiperThumb(thumbsslider)
				.swiper-wrapper
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
					.swiper-slide
						img.img-cover(src='./img/blog/gallery1-thumb.webp' srcset='./img/blog/gallery1-thumb@2x.webp 2x' width="107" height="62" alt="img")
		
		//RIGHT INFO
		.product-gallery-info
			//row
			.product-gallery__title
				.label-gray-group.flex-center-y
					.label-gray
						img(src='./img/lab1.webp', srcset='./img/lab1@2x.webp 2x' width='20' height='20'  alt='img')
						span Охлажденное
					.label-gray
						img(src='./img/lab2.webp', srcset='./img/lab2@2x.webp 2x' width='20' height='20'  alt='img')
						span Замороженное
			
				h1.h-40 Краб-стригун, конечности #[span.txt-grey 400 Г]
			//row
			.product-gallery__nutritional
				.nutritional-txt
					.nutritional-txt-item
						p.fw-700 Пищевая ценность на  100 г. 
						p.txt-grey На порцию 
				
				
				.nutritional-list.flex
					.nutritional-list-item
						p.fw-900 86
						span.txt-grey ккал
					.nutritional-list-item
						p.fw-900 4,5
						span.txt-grey белки
					.nutritional-list-item
						p.fw-900 1
						span.txt-grey жиры
					.nutritional-list-item
						p.fw-900 14,7
						span.txt-grey углеводы
			
			//row
			.product-gallery__text
				.about-product-title.fw-900 О товаре:
				ul.about-product-list
					li.about-product-item
						.fs-14 Состав
						.fs-16 Мясо краба опилио варено-мороженое в хитине (конечности). Навеска одной клешни 150-300 г. На развес. Навеска одной клешни 150-300 г. На развес.
					li.about-product-item
						.fs-14 Размер:
						.fs-16 500 гр. Вылов 2024 г.
					li.about-product-item
						.fs-14 Страна:
						.fs-16 Россия, Камчатский край

			//row
			.product-gallery__price.flex-center-y
				.price-box
					.price-val 5 999 &#8381;
					.price-old 6 999 &#8381;
				button.btn-dark В корзину