.h-120{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: remy(120);
	line-height: .86;
	color: #fff;
	@media (max-width: 767px) {
	 font-size: remy(40);
	 line-height: 1;
	 letter-spacing: -0.01em;

	}
}

.h2{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: remy(60);
	line-height: 0.83;
	color: var(--color-temnyy-siniy);
	margin-bottom: 2rem;
	@media (max-width: 767px) {
		font-size: remy(40);
		line-height: 1;
		letter-spacing: -0.01em;
	}
}

.fw-700{font-weight: 700;}
.txt-red{color:#DD3535 !important;}
.txt-center{text-align: center;}
.txt-right{text-align: right;}
.header-group{
	display: flex;
	justify-content: space-between;
}	

.contact-link{
	display: flex;
	column-gap:remy(5);
	align-items: center;
}
