
 .our-stores{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: remy(18);
}
.store-item{
	font-size: remy(10);
	border-radius: 1.5em;
	overflow: hidden;
	img{
		width: 100%;
		aspect-ratio:330/195;
	}
}