mixin blogArticle(img)
	article.blog-article
		.blog-article__img
			img.img-cover(src='./img/blog/'+ img +'.webp', srcset='./img/blog/'+ img +'@2x.webp 2x' width='1005' height='565' loading='lazy' alt='img')
			
		.blog-article__descrip
			.promo-info-card
				.border-tags
					.border-tag.border-tag--accent
						span Рецепты
					.border-tag
						svg.svg-recept
							use(href="./img/sprite.svg#svg-recept")
						span 30 мин
				
				h1.h-40 Соте из вонголе с&nbsp;просекко
				.promo-info__txt
					p Вонголе - нежный моллюск, который продается у нас в замороженном виде.
					p Размораживать его нужно как и все морепродукты - в холодильнике.
					p Не выливайте жидкость, образующуюся при оттаивании, она нам пригодится для соуса.
					p Не выливайте жидкость, образующуюся при оттаивании, она нам пригодится для соуса.
				
				a(href="").btn-outline.fw-900 Прочитать статью

mixin receptStep(num, title, img )
	.recept-step
		.recept-step__row.flex
			.recept-step__num #{num}
			.recept-step__txt 
				.h-32 #{title}
				block

		.recept-step__img
			img.img-cover.br-15(src='./img/recepts/recept-step'+img+'.webp', srcset='./img/recepts/recept-step'+img+'@2x.webp 2x' width='1025' height='530' loading='lazy' alt='img')

mixin ingridient(img, name, weight)
	li.table-list__item
		.table-list__left.flex
			img(src='./img/recepts/ingr'+ img +'.webp', srcset='./img/recepts/ingr'+ img +'@2x.webp 2x' width='32' height='32' loading='lazy' alt='img')
			p #{name}
		
		span.cell-divider
		
		.table-list__right
			p #{weight}