extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main-inner.about-page
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				a(href="#!").breadcrumb-item О нас
		.column-gap-80
			//PROMO
			section.about-page-promo.stretch-flex
				.container
					.has-bg-video
						//VIDEO BG
						video.bg-video(autoplay muted loop playsinline)
							source(src='./video/video.mp4' type='video/mp4')
							source(src='./video/video.mp4' type='video/mp4')
							source(src='./video/video.ogv' type='video/ogg')
							p Ваш браузер не поддерживает видео.

						//TEXT CONTENT
						.promo-info-card
							h1.h2 О нас
							.promo-info__txt
								p Мы — команда настоящих энтузиастов, которые любят море и всё, что с ним связано. Наша цель — предложить вам только самые свежие и качественные морепродукты, чтобы вы могли наслаждаться вкусом Черного моря прямо у себя дома.
								p Гордимся тем, что работаем напрямую с местными рыбаками и поставщиками, что позволяет нам гарантировать свежесть и высокое качество нашей продукции.
								p Каждый наш клиент — это не просто покупатель, а часть нашей большой морской семьи.

			//BENEFITS
			section.about-benefits
				.container
					.about-benefits-cards
						//item
						.about-benefit-item
							.flex-col
								.fs-65 2000
								.fs-22 тонн в год собирают наши рыбаки
						//item
						.about-benefit-item
							.flex-col
								.fs-65 4
								.fs-22 точек по городу, мы быстро расширяемся
						//item
						.about-benefit-item
							.flex-col
								.fs-65 10 +
								.fs-22 лет опыт наших рыбаков, ловим в отрытом море и на суше
						//item
						.about-benefit-item
							.flex-col
								.fs-65 148
								.fs-22 видов рыб и морепродуктов в нашем магазине

			//TXT+IMG
			section.about-preview
				.container
					.about-preview-grid
						.about-preview-txt
							p Бригада Целовальникова добыла уже полторы тонны камбалы. Этот сезон оказался намного удачнее прошлого
							p Герасим Родин, житель г. Сочи: «Калкан очень хороший, крупная средняя есть всегда, покупаю и друзьям в Краснодар привожу. Ребята молодцы, дают контейнер, на электричке приезжает рыба и растаять не успевает».
							p Промысловую квоту – порядка ста тонн камбалы – рыбаки Краснодарского края региона успешно выбрали. Но снасти они надолго не отложат. Уже в июне вновь выйдут в море за местной барабулькой и ставридой.
						
						.about-preview-img
							img.img-cover(src='./img/about-big.webp', srcset='./img/about-big@2x.webp 2x' width='875' height='511' loading='lazy' alt='img')

			//BLOG SLIDER
			section.about-blog
				.container
					.blog-swiper.swiper
						.swiper-wrapper
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/about1.webp', srcset='./img/blog/about1@2x.webp 2x' width='303' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #сми
										.blog-title Репортаж на телеканале “Утро”
										.blog-data 18 июля
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/about2.webp', srcset='./img/blog/about2@2x.webp 2x' width='489' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #сми
										.blog-title Репортаж на телеканале “Утро”
										.blog-data 18 июля
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/about3.webp', srcset='./img/blog/about3@2x.webp 2x' width='303' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #новости
										.blog-title Истории, стоящие<br>за продуктами decona
										.blog-data 18 июля
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/about4.webp', srcset='./img/blog/about4@2x.webp 2x' width='303' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #тpенд
										.blog-title Истории, стоящие<br>за продуктами decona
										.blog-data 18 июля
							
						//SWIPER NAV
						.swiper__nav
							.blog-swiper-prev.swiper-button-prev
								svg.svg-arrLeft
									use(href='../img/sprite.svg#svg-arrLeft')
							.blog-swiper-next.swiper-button-next
								svg.svg-arrRight
									use(href='../img/sprite.svg#svg-arrRight')

			//PARTNERS
			section.partners
				.container
					h2.h2 С кем мы работаем
					.partners-swiper.swiper
						.swiper-wrapper
							
							.swiper-slide
								.partner-logo
									img(src='./img/partners/1.webp', srcset='./img/partners/1@2x.webp 2x' width='235' height='44' loading='lazy' alt='img')
							
							.swiper-slide
								.partner-logo
									img(src='./img/partners/2.webp', srcset='./img/partners/2@2x.webp 2x' width='106' height='129' loading='lazy' alt='img')
							
							.swiper-slide
								.partner-logo
									img(src='./img/partners/3.webp', srcset='./img/partners/3@2x.webp 2x' width='252' height='19' loading='lazy' alt='img')
							
							.swiper-slide
								.partner-logo
									img(src='./img/partners/4.webp', srcset='./img/partners/4@2x.webp 2x' width='163' height='52' loading='lazy' alt='img')
							
							.swiper-slide
								.partner-logo
									img(src='./img/partners/5.webp', srcset='./img/partners/5@2x.webp 2x' width='88' height='91' loading='lazy' alt='img')
							
							.swiper-slide
								.partner-logo
									img(src='./img/partners/6.webp', srcset='./img/partners/6@2x.webp 2x' width='271' height='47' loading='lazy' alt='img')
						
						//SWIPER NAV
						.swiper__nav
							.partners-swiper-prev.swiper-button-prev
								svg.svg-arrLeft
									use(href='../img/sprite.svg#svg-arrLeft')
							.partners-swiper-next.swiper-button-next
								svg.svg-arrRight
									use(href='../img/sprite.svg#svg-arrRight')

			//DOCS
			section.docs
				.container
					h2.h2 Документы
					.docs-swiper.swiper
						.swiper-wrapper
							.swiper-slide
								.docs-item
									img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
							
							.swiper-slide
								.docs-item
									img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
							
							.swiper-slide
								.docs-item
									img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
							
							.swiper-slide
								.docs-item
									img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
							
							.swiper-slide
								.docs-item
									img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
							
							.swiper-slide
								.docs-item
									img(src='./img/sertificate.webp', srcset='./img/sertificate@2x.webp 2x' width='320' height='446' loading='lazy' alt='img')
						
						//SWIPER NAV
						.swiper__nav
							.docs-swiper-prev.swiper-button-prev
								svg.svg-arrLeft
									use(href='../img/sprite.svg#svg-arrLeft')
							.docs-swiper-next.swiper-button-next
								svg.svg-arrRight
									use(href='../img/sprite.svg#svg-arrRight')

			//OUR STORIS
			include ../sections/_our-stories-container
			
			//REVIEW
			include ../sections/_reviews


block variables
	-var title = "О нас";
