extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.inner-page.basket-page
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				a(href="catalogy.html").breadcrumb-item Каталог
				a(href="#!").breadcrumb-item Корзина
			.grid-two-columns
				//LEFT COLUMN
				.grid-content.column-gap-80
				
					include ../sections/_basket-page.pug
					include ../sections/_recomend.pug
					
					
				
				//RIGHT COLUMN
				.grid-aside.aside-sticky
					include ../blocks/_basket-calculate
		
	include ../sections/_footer.pug	
			
block variables
	-var title = "Корзина";
