extends ../layouts/layout.pug

block content
	
	include ../sections/_header.pug
	main.inner-page.template-main
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				a(href="#!").breadcrumb-item Блог/Рецепты
				a(href="#!").breadcrumb-item Рецепты
		
		.column-gap-80
			//PROMO
			section.about-page-promo.stretch-flex
				.container
					.has-bg-video
						img.pos-abs(src='./img/blog/masters-promo.webp', srcset='./img/blog/masters-promo@2x.webp 2x' width='1523' height='611' loading='lazy' alt='img')
						//TEXT CONTENT
						.promo-info-card.has-border-top
							.border-tags
								.border-tag.border-tag--accent
									span Репортажи
								.border-tag
									span НТВ
							
							h1.h-40 Весенний сезон вылова камбалы завершается в Краснодарском крае
							.promo-info__txt
								p Съемочная группа и специальный корреспондент «Кубань 24» Юлия Проценко отправились вместе с рыбаками в Черное море, чтобы посмотреть, как вылавливают камбалу, и какая рыба отправится на прилавки края.

							//LINK
							.wrapper-align-left
								a.round-arrow-link(href="blog.html")
									span.round-arrow.round-arrow--dark
										svg.svg-arrLeft
											use(href='../img/sprite.svg#svg-arrLeft')
			
			//BLOG	
			section.masters-content
				.container
					.grid-two-columns
						//LEFT COLUMN
						.grid-content.column-gap-80
							//гксе из админки, который добавляется через редактор в админе, должен иметь родит див с классом "user-text"
							section.user-text
								h2 Съемочная группа и специальный корреспондент «Кубань 24» Юлия Проценко отправились вместе с рыбаками в Черное море, чтобы посмотреть, как вылавливают камбалу, и какая рыба отправится на прилавки края.

								p Съемочная группа и специальный корреспондент «Кубань 24» Юлия Проценко отправились вместе с рыбаками в Черное море, чтобы посмотреть, как вылавливают камбалу, и какая рыба отправится на прилавки края.
								p Точка отправления — Сочи, Кудепста. Оттуда все отплыли к рыбацким баркасам вместе с промысловиком Евгением Целовальниковым. От берега пришлось отойти почти на 10 км, чтобы найти «Мегалодон» — это баркас с названием хищной акулы.
								p «Вот у этой рыбы размер не промысловый. Камбала должна быть 40 см», — объясняет бригадир рыболовецкой артели Николай Рудаков.
								
								img(src='./img/blog/masters-promo.webp', srcset='./img/blog/masters-promo@2x.webp 2x' width='1025' height='456' loading='lazy' alt='img')

								p Камбалу обязательно измеряют рулеткой и ту, что не подходит по размеру, отпускают обратно в море.

								p Вся рыба сильно отличается по размеру: можно встретить совсем крохотную и очень крупную. Некоторые особи весят по 15 кг.

								p «Калкан или черноморская камбала — самая плодовитая рыба Черного моря. А еще у камбалы приплюснутая форма тела, и она может достигать 1 м в диаметре», — рассказывает корреспондент Юлия Проценко.

								p На сезон в этом году рыбаки не жалуются — говорят, он лучше, чем в 2023-м. Одна артель может поймать 1,5 т камбалы.

								img(src='./img/blog/masters-promo.webp', srcset='./img/blog/masters-promo@2x.webp 2x' width='1025' height='456' loading='lazy' alt='img')

								p «Рыбацкое счастье изменчивое. Бывает, ребята приходят с одной рыбкой. А сегодня, как мы видим, пока рыбалка идет довольно неплохо. Думаю 100-150 кг, если поймаем, — это будет совсем даже ничего», — отмечает основатель рыболовной артели Евгений Целовальников.
								
								p На рынке свежая камбала в среднем стоит от 1,5 тыс. рублей за 1 кг. Несмотря на то, что цена этой рыбы выше среднего, на нее высокий спрос — многие любят ее за вкус.

							
							
							//SWIPER PRODUCTS
							section.poppulare
								h2.h-40 Товары из статьи
								.poppulare-swiper.product-swiper.swiper
									.swiper-wrapper
										.swiper-slide
											+product-card('product1')
										.swiper-slide
											+product-card('product2')
										.swiper-slide
											+product-card('product3')
										.swiper-slide
											+product-card('product4')
										.swiper-slide
											+product-card('product1')
										.swiper-slide
											+product-card('product2')
									
									//SWIPER NAV
									.swiper__nav
										.product-swiper-prev.swiper-button-prev
											svg.svg-arrLeft
												use(href='../img/sprite.svg#svg-arrLeft')
										.product-swiper-next.swiper-button-next
											svg.svg-arrRight
												use(href='../img/sprite.svg#svg-arrRight')
						
							section.blog-authors
								.h-40 Кто работал над статьей
								.blog-authors_content.flex-center-y
									//AUTHOR
									.blog-author__item.flex-center-y
										img(src='./img/blog/author.webp', srcset='./img/blog/author@2x.webp 2x' width='56' height='56' loading='lazy' alt='img')
										.blog-author__name
											p.txt-upper ДЖенсен Тернер
											p.txt-12 Основатель коворкинга 
									
									//AUTHOR
									.blog-author__item.flex-center-y
										img(src='./img/blog/author.webp', srcset='./img/blog/author@2x.webp 2x' width='56' height='56' loading='lazy' alt='img')
										.blog-author__name
											p.txt-upper ДЖенсен Тернер
											p.txt-12 Основатель коворкинга 

									a.btn-outline(href="blog.html") Назад в блог
						
						//RIGHT ASIDE
						.grid-aside.aside-sticky
							.blog-links.border-round-card
								.h-30.mb-24 Статьи и репортажи
								.blog-links__group
									a.round-arrow-link.border-link(href="#!")
										span ОТР “Сезон добычи камбалы”
										span.round-arrow.round-arrow--dark
											svg.svg-arrRight
												use(href='../img/sprite.svg#svg-arrRight')
									a.round-arrow-link.border-link(href="#!")
										span ОТР “Сезон добычи камбалы”
										span.round-arrow.round-arrow--dark
											svg.svg-arrRight
												use(href='../img/sprite.svg#svg-arrRight')
									a.round-arrow-link.border-link(href="#!")
										span ОТР “Сезон добычи камбалы”
										span.round-arrow.round-arrow--dark
											svg.svg-arrRight
												use(href='../img/sprite.svg#svg-arrRight')

			//subscribe
			section.subscribe-section
				.container
					include ../blocks/_subscribe-form
			//BLOG SLIDER
			section.blog
				.container
					h2.h2 Блог
					.blog-swiper.swiper
						.swiper-wrapper
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/blog1.webp', srcset='./img/blog/blog1@2x.webp 2x' width='303' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #рецепты
										.blog-title Соте из вонголе с просекко
										.blog-data 18 июля
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/blog2.webp', srcset='./img/blog/blog2@2x.webp 2x' width='489' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #сми
										.blog-title стейки из Лосося<br>за&nbsp;5&nbsp;минут
										.blog-data 18 июля
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='./img/blog/blog3.webp', srcset='./img/blog/blog3@2x.webp 2x' width='303' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag ##рецепты
										.blog-title рыба на костре<br>с итальянскими травами
										.blog-data 18 июля
							//SLIDE
							.swiper-slide
								.blog-card
									.blog-card__img
										img(src='https://farm6.staticflickr.com/5808/22690915754_6b043df788_b.jpg', srcset='https://farm6.staticflickr.com/5808/22690915754_6b043df788_b.jpg' width='303' height='562' loading='lazy' alt='img')
									
									.blog-card__text
										.blog-tag #рецепты
										.blog-title рыба на костре<br>с итальянскими травами
										.blog-data 18 июля
						//SWIPER NAV
						.swiper__nav
							.blog-swiper-prev.swiper-button-prev
								svg.svg-arrLeft
									use(href='../img/sprite.svg#svg-arrLeft')
							.blog-swiper-next.swiper-button-next
								svg.svg-arrRight
									use(href='../img/sprite.svg#svg-arrRight')

	include ../sections/_footer.pug


block variables
	-var title = "Мастер класс";
