extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main-page
		.container
			.grid-two-columns
				//LEFT COLUMN
				.grid-content.column-gap-80
				
					include ../sections/_main-page-promo.pug
					include ../sections/_promo-benefits.pug
					include ../sections/_poppulare.pug
					include ../sections/_algoritm-steps.pug
					include ../sections/_assortiment.pug
					include ../sections/_our-stories-section.pug
					include ../sections/_aboutus-section.pug
					include ../sections/_blog-section.pug
					
				
				//RIGHT COLUMN
				.grid-aside.aside-sticky
					//карточка, когда корзина пустая
					.basket-status-empty.flex-col.border-round-card
						.basket-status__icon
							svg.svg-fish
								use(href='./img/fish.svg#svg-fish')
						.basket-status__txt.txt-center
							p В корзине пока пусто
						.benefits-info.flex-col
							+benefit-info('Забота о здоровье', 'Рыба и морепродкуты это богатый источник витаминов, минералов, питательных веществ')
							+benefit-info('Самые свежие продуткы', 'Продукция от проверенных поставщиков поступает в наши точки каждый день')
							+benefit-info('Привилегии для постоянных покупателей', 'Кэшбэк до 10%, оплата заказа бонусами до 20%, специальные предложения для участников программы лояльности')
						
						.basket-status__footer
							p Доставка с 10:00 до 22:00
		
	include ../sections/_footer.pug	
			
block variables
	-var title = "Project";
