extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main-inner
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				a(href="#!").breadcrumb-item Акции
				
		section.contacts-page
			.container
				.promotion-cards-grid
					a(href="#!").promotion-card
						img.img-cover(src='../img/discount/discount1.webp', srcset='../img/discount/discount1@2x.webp 2x'  width="750" height="451" loading='lazy' alt='img')
						.promotion-card__content
							.h2 Сезон устриц
							.fs-24 устрицы разных видов,<br>привезенные из Японии
							
							.promotion-card__labels.flex-center-y
								.white-label 07.06 - 30.06
								.white-label 37K0LM
					
					a(href="#!").promotion-card
						img.img-cover(src='../img/discount/discount2.webp', srcset='../img/discount/discount2@2x.webp 2x'  width="750" height="451" loading='lazy' alt='img')
						.promotion-card__content
							.h2 10% скидка на сезонную<br>БАРАБУЛЮ
							
							.promotion-card__labels.flex-center-y
								.white-label 44UOI8
					
					a(href="#!").promotion-card
						img.img-cover(src='../img/discount/discount3.webp', srcset='../img/discount/discount3@2x.webp 2x'  width="750" height="451" loading='lazy' alt='img')
						.promotion-card__content
							.h2 Как в ресторане 
							.fs-24 совместно с рестораном “La&nbsp;Luna” сделали маринад для&nbsp;мидий 
	
	include ../sections/_footer.pug		
block variables
	-var title = "Акции";
