extends ../layouts/layout.pug

block content
	
	include ../sections/_header.pug
	main.inner-page.template-main
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				a(href="#!").breadcrumb-item Блог/Рецепты
				a(href="#!").breadcrumb-item Рецепты
		.column-gap-80
			//PROMO
			section.about-page-promo.stretch-flex
				.container
					.has-bg-video
						img.pos-abs(src='./img/blog/recept-single-promo.webp', srcset='./img/blog/recept-single-promo@2x.webp 2x' width='1523' height='611' loading='lazy' alt='img')
						//TEXT CONTENT
						.promo-info-card.has-border-top
							.border-tags
								.border-tag.border-tag--accent
									span Рецепты
								.border-tag
									svg.svg-recept
										use(href="./img/sprite.svg#svg-recept")
									span 30 мин
							.promo-info-tag
							h1.h-40 Соте из вонголе с&nbsp;просекко
							.promo-info__txt
								p Вонголе - нежный моллюск, который продается у нас в замороженном виде.
								p Размораживать его нужно как и все морепродукты - в холодильнике.
								p Не выливайте жидкость, образующуюся при оттаивании, она нам пригодится для соуса.
								p Не выливайте жидкость, образующуюся при оттаивании, она нам пригодится для соуса.

							//LINK
							.wrapper-align-left
								a.round-arrow-link(href="blog.html")
									span.round-arrow.round-arrow--dark
										svg.svg-arrLeft
											use(href='../img/sprite.svg#svg-arrLeft')

			//VIDEO
			section.recept-video
				.container
					a(href="https://youtu.be/7wtfhZwyrcc?si=f4McZ7b0oVzjInn9" data-fancybox="recept_1").fancy-video-link
						img.img-cover.br-15(src='./img/blog/recept-promo.webp', srcset='./img/blog/recept-promo@2x.webp 2x' width='1520' height='763' loading='lazy' alt='img')
						span.btn-play
							svg.svg-play
								use(href='./img/sprite.svg#svg-play')
			//BLOG	
			section.recept-description
				.container
					.grid-two-columns
						//LEFT COLUMN
						.grid-content
							h2.h2 Способ приготовления:
							.recept-steps
								//step
								+receptStep('01','Подготовка креветок', 1)
									p p Очищаем 140 г креветок от панциря, удаляем кишечную в ену и разрезаем каждую креветку вдоль пополам. Солим креветки, добавляем 2 ч. л. кокосов ой муки и аккуратно перемешиваем, чтобы мука равномерно покрыла каждый кусочек.
								//step
								+receptStep('02','Обжаривание креветок', 2)
									p Очищенные 3 зубчика чеснока мелко рубим. На раз огрет ой сковороде с 2 ст. л. оливкового масла обжариваем чеснок втечение примерно 30 секунд до появления аромата, зат ем добавляем подготовленные креветки и обжариваем их 1,5–2 минуты до легкого золотистого цвета.
								//step
								+receptStep('01','Подготовка креветок', 1)
									p p Очищаем 140 г креветок от панциря, удаляем кишечную вену и разрезаем каждую креветку вдоль пополам. Солим креветки, добавляем 2 ч. л. кокосовой муки и аккуратно перемешиваем, чтобы мука равномерно покрыла каждый кусочек.
								//step
								+receptStep('03','Подготовка овощей', 3)
									p Нарезаем 120 г помидоров на небольшие дольки. 100 г огурцов режем тонкими слайсами (для красоты можно использовать фигурный нож ), а 100 г болгарского перца нарезаем кусочками, сопоставимыми по размеру с дольками помидоров. Хрустящий салат рвем руками на удобные для еды кусочки.
								//step
								+receptStep('04','Приготовление соуса', 4)
									p В миске смешиваем 100 г мангового пюре с 3 ст. л. оливкового масла, добавляем 2 ч. л. кокосов ой муки, соль и острый красный перец по вкусу. Если используете свежее манго, предварительно измельчаем его, а если замороженное – взбиваем в се ингредиенты в блендере до однородной консистенции.
								//step
								+receptStep('05','Сборка салата и подача', 5)
									p Аккуратно перемешиваем нарезанные ов ощи с обжаренными креветками и заправляем салат приготовленным соусом. Выкладываем салат на тарелку и подаем сразу, наслаждаясь свежестью и экзотическим вкусом.
	
						//RIGHT ASIDE
						.grid-aside.aside-sticky
							.table-list.recept-ingridients.acordion.acordion-transform
								//GROUP
								.table-list__group.acordion-group
									.acordion-header
										.h-30 Состав:
										span.acordion-arrow
											svg.svg-carret
												use(href='./img/sprite.svg#svg-carret')
									
									.acordion-body
										ul.table-list__ul
											//row
											+ingridient(1, 'Креветки','140 г')
											+ingridient(2, 'Хрустящий салат ','100 г')
											+ingridient(3, 'Помидоры','120 г')
											+ingridient(4, 'Огурцы','100 г')
											+ingridient(5, 'Болгарский перец','100 г')
											+ingridient(6, 'Кокосовая мука','2 ч. л.')
											+ingridient(7, 'Оливковое масло','2 ч. л.')
											+ingridient(8, 'Чеснок','3 зубчика')
											+ingridient(9, 'Соль','По вкусу')

								//GROUP
								.table-list__group.acordion-group
									.acordion-header
										.h-30 Состав соуса
										span.acordion-arrow
											svg.svg-carret
												use(href='./img/sprite.svg#svg-carret')
									.acordion-body
										ul.table-list__ul
											+ingridient(10, 'Манговое пюре','100 г')
											+ingridient(7, 'Оливковое масло','3 ч. л.')
											+ingridient(6, 'Кокосовая мука','2 ч. л.')
											+ingridient(4, 'Острый красный перец','По вкусу')
											+ingridient(9, 'Соль','По вкусу')



	include ../sections/_footer.pug


block variables
	-var title = "Рецепты";
