extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.inner-page
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				a(href="#!").breadcrumb-item Контакты
				span.breadcrumb-item Рецепты
		section.contacts-page
			.container
				.stores-contacts-grid
					//LEFT  COLUMN
					.contacts-page__left
						h2.h2 Наши магазины
						
						//Карточка магазина #1
						.store-address-block.active.flex-col(data-adrs="1")
							// ya gis
							.geo-app.flex
								a(href="#!").geo-app__item
									img(src='./img/geo-ya.webp', srcset='./img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
								a(href="#!").geo-app__item
									img(src='./img/geo-gis.webp', srcset='./img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
							
							//address-card
							.address-card
								address г. Сочи, ул. Яна Фабрициуса, 58/2, павильоны 96, 97, 98
								
								.work-mode
									.fs-21 Режим работы:
									.fs-19.flex
										span с 10:00 до 20:00 
										span без выходных
							
							.contacts-content__links
								a(href="tel:+79129786654").contact-link
									svg.svg-phone
										use(href='./img/sprite.svg#svg-phone')
									span +7 912 978 66 54
								
								a(href="mailto:info@decona.ru").contact-link
									svg.svg-email
										use(href='./img/sprite.svg#svg-email')
									span info@decona.ru
						
						
						//Карточка магазина #2
						.store-address-block.flex-col(data-adrs="2")
							// ya gis
							.geo-app.flex
								a(href="#!").geo-app__item
									img(src='./img/geo-ya.webp', srcset='./img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
								a(href="#!").geo-app__item
									img(src='./img/geo-gis.webp', srcset='./img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
							
							//address-card
							.address-card
								address г. Сочи,ул. 98-й Железнодорожный километр, 6
								
								.work-mode
									.fs-21 Режим работы:
									.fs-19.flex
										span с 10:00 до 20:00 
										span без выходных
							
							.contacts-content__links
								a(href="tel:+79129786654").contact-link
									svg.svg-phone
										use(href='./img/sprite.svg#svg-phone')
									span +7 912 978 66 54
								
								a(href="mailto:info@decona.ru").contact-link
									svg.svg-email
										use(href='./img/sprite.svg#svg-email')
									span info@decona.ru
						
						//Карточка магазина #3
						.store-address-block.flex-col(data-adrs="3")
							// ya gis
							.geo-app.flex
								a(href="#!").geo-app__item
									img(src='./img/geo-ya.webp', srcset='./img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
								a(href="#!").geo-app__item
									img(src='./img/geo-gis.webp', srcset='./img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
							
							//address-card
							.address-card
								address г. Сочи, ул. Яна Фабрициуса, 58/2 (напротив живой рыбы Кубани)
								
								.work-mode
									.fs-21 Режим работы:
									.fs-19.flex
										span с 10:00 до 20:00 
										span без выходных
							
							.contacts-content__links
								a(href="tel:+79129786654").contact-link
									svg.svg-phone
										use(href='./img/sprite.svg#svg-phone')
									span +7 912 978 66 54
								
								a(href="mailto:info@decona.ru").contact-link
									svg.svg-email
										use(href='./img/sprite.svg#svg-email')
									span info@decona.ru
						
						//Карточка магазина #4
						.store-address-block.flex-col(data-adrs="4")
							// ya gis
							.geo-app.flex
								a(href="#!").geo-app__item
									img(src='./img/geo-ya.webp', srcset='./img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
								a(href="#!").geo-app__item
									img(src='./img/geo-gis.webp', srcset='./img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
							
							//address-card
							.address-card
								address г. Адлер, центральный рынок, ул. Демократическая 38
								
								.work-mode
									.fs-21 Режим работы:
									.fs-19.flex
										span с 10:00 до 20:00 
										span без выходных
							
							.contacts-content__links
								a(href="tel:+79129786654").contact-link
									svg.svg-phone
										use(href='./img/sprite.svg#svg-phone')
									span +7 912 978 66 54
								
								a(href="mailto:info@decona.ru").contact-link
									svg.svg-email
										use(href='./img/sprite.svg#svg-email')
									span info@decona.ru
							
						//social
						+social
					
					//RIGHT COLUMN
					.contacts-map-content
						.map-wrapper
							picture
								//- source(srcset="")
								img.img-cover(src='./img/map.webp', srcset='./img/map@2x.webp 2x' width='1027' height='601' loading='lazy' alt='img')
							
							
							//Метки магазинов на карте
							button.show-store-card.active(type="button" data-store="1")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin')
							button.show-store-card(type="button" data-store="2")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin')
							button.show-store-card(type="button" data-store="3")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin')
							button.show-store-card(type="button" data-store="4")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin')
						//stores
						.our-stores.swiper
							.swiper-wrapper
								.swiper-slide
									.store-item
										img.img-cover(src='./img/store1.webp', srcset='./img/store1@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
								.swiper-slide
									.store-item
										img.img-cover(src='./img/store2.webp', srcset='./img/store2@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
								.swiper-slide
									.store-item
										img.img-cover(src='./img/store3.webp', srcset='./img/store3@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
							//SWIPER NAV
							.swiper__nav
								.product-swiper-prev.swiper-button-prev
									svg.svg-arrLeft
										use(href='./img/sprite.svg#svg-arrLeft')
								.product-swiper-next.swiper-button-next
									svg.svg-arrRight
										use(href='./img/sprite.svg#svg-arrRight')
	include ../sections/_footer.pug		
			
block variables
	-var title = "Контакты";
