extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.inner-page
		.container
			.breadcrumbs
				a(href="index.html").breadcrumb-item Главная
				span.breadcrumb-item Магазины
		section.contacts-page.stores-large-map
			.container
				.stores-contacts-grid
					//LEFT  COLUMN
					.contacts-page__left
						h2.h2 Наши магазины
						.contacts-page-content.flex-col
							// ya gis
							.geo-app.flex
								a(href="#!").geo-app__item
									img(src='./img/geo-ya.webp', srcset='./img/geo-ya@2x.webp 2x' width='213' height='29' loading='lazy' alt='img')
								a(href="#!").geo-app__item
									img(src='./img/geo-gis.webp', srcset='./img/geo-gis@2x.webp 2x' width='110' height='29' loading='lazy' alt='img')
							
							
							.store-address-block.flex-col
								//Карточка магазина #1
								.address-card.active(data-adrs="1")
									address г. Сочи, ул. Яна Фабрициуса, 58/2, павильоны 96, 97, 98
									
									.work-mode
										.fs-21 Режим работы:
										.fs-19.flex
											span с 8:00 до 19:00 
											span без выходных
								
								//Карточка магазина #2
								.address-card(data-adrs="2")
									address г. Сочи, ул. Яна Фабрициуса, 58/2, магазин «153 рыбы» 
										span (напротив живой рыбы Кубани)
									
									.work-mode
										.fs-21 Режим работы:
										.fs-19.flex
											span с 10:00 до 20:00 
											span без выходных
								
								
								//Карточка магазина #3
								.address-card(data-adrs="3")
									address г. Адлер, ул. Демократическая, 3
									
									.work-mode
										.fs-21 Режим работы:
										.fs-19.flex
											span с 10:00 до 20:00 
											span без выходных
								
							//social
							.contacts-content__links
								a(href="tel:+79184051058").contact-link
									svg.svg-phone
										use(href='./img/sprite.svg#svg-phone')
									span +7 (918) 405-10-58
								
								a(href="mailto:panarina.1tv@yandex.ru").contact-link
									svg.svg-email
										use(href='./img/sprite.svg#svg-email')
									span panarina.1tv@yandex.ru
								+social
					
					//RIGHT COLUMN
					.contacts-map-content
						.map-wrapper
							picture
								//- source(srcset="")
								img.img-cover(src='./img/map-large.webp', srcset='./img/map-large@2x.webp 2x' width='1027' height='601' loading='lazy' alt='img')
							
							
							//Метки магазинов на карте
							//- button.show-store-card.active(type="button" data-store="1")
							//- 	svg.svg-pin
							//- 		use(href='./img/sprite.svg#svg-pin')
							button.show-store-card.active(type="button" data-store="1")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin' )
							button.show-store-card(type="button" data-store="2")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin')
							button.show-store-card(type="button" data-store="3")
								svg.svg-pin
									use(href='./img/sprite.svg#svg-pin')
						//stores
						.our-stores.swiper
							.swiper-wrapper
								.swiper-slide
									.store-item
										img.img-cover(src='./img/store1.webp', srcset='./img/store1@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
								.swiper-slide
									.store-item
										img.img-cover(src='./img/store2.webp', srcset='./img/store2@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
								.swiper-slide
									.store-item
										img.img-cover(src='./img/store3.webp', srcset='./img/store3@2x.webp 2x' width='330' height='195' loading='lazy' alt='img')
							//SWIPER NAV
							.swiper__nav
								.stores-swiper-next.swiper-button-next
									svg.svg-arrLeft
										use(href='./img/sprite.svg#svg-arrLeft')
								.stores-swiper-prev.swiper-button-prev
									svg.svg-arrRight
										use(href='./img/sprite.svg#svg-arrRight')
	include ../sections/_footer.pug		
			
block variables
	-var title = "Контакты";
